<div id="show_star-<%= comment.id %>"></div>
<script>
  var elem = document.querySelector('#show_star-<%= comment.id %>');
  var opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    readOnly: true,
    score: <%= comment.star %>
  };
  raty(elem,opt);
</script>