<% @posts.each do |post| %>
  <div>
    <p>タイトル</p>
    <span>
      <%= link_to post.title, "/posts/#{post.id}" %>
    </span></br>
      <p>画像</p>
    <% if post.image.attached? %>
      <%= image_tag post.image, size: "200x200" %>
    <% else %>
      <%= image_tag 'no_image', size: "200x200" %>
    <% end %>
    <p>商品紹介:<%= post.introduction %></p>
    <p>住所:<%= post.address %></p>
  </div>
<% end %>

