<div class="bg-image" style="background-image: url(<%= asset_path('about.jpeg') %>); background-size: cover; background-position: center;">
<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5" style="background-color: white;">
      <h5 class="text-dark bg-light py-4 mb-0">ユーザーログイン</h5>
      <div class="form-body p-4">
        <div class="mx-auto text-center text-dark">
          <p>メールアドレスと<br>パスワードを入力してください。</p>
        </div>
        <%= form_with model: @user, url: user_session_path do |f| %>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control" %>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-lock"></i></span>
            </div>
            <%= f.password_field :password, placeholder: "パスワード", class: "form-control"  %>
          </div>
          <% if devise_mapping.rememberable? %>
          <div class="field text-dark">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
           </div>
          <% end %>
            <%= f.submit "サインイン", class: "btn btn-lg btn-block btn-info mt-5" %>
            <%= link_to "登録がお済みでない方はこちら", new_user_registration_path, class: "btn btn-primary btn-block mt-5" %>
            <%= link_to "パスワードを忘れた方はこちら", new_user_password_path, class: "btn btn-secondary btn-block mt-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>