<h2>プロフィール編集</h2>
<%= form_with model: @user do |f| %>
  <label for="inputName">ユーザー名</label></br>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%></br>
  <label for="inputName">郵便番号</label></br>
  <%= f.text_field :postal_code, autofocus: true, id:"inputName", placeholder:"郵便番号"%></br>
  <label for="inputName">住所</label></br>
  <%= f.text_field :address, autofocus: true, id:"inputName", placeholder:"住所"%></br>
    <label for="inputName">電話番号</label></br>
  <%= f.text_field :phone_number, autofocus: true, id:"inputName", placeholder:"電話番号"%></br>
    <label for="inputName">e-mail</label></br>
  <%= f.text_field :email, autofocus: true, id:"inputName", placeholder:"e-mail"%></br>
  <%= f.submit "変更を保存" %>
  <% if user_signed_in? && @user == current_user %>
  <% unless @user.email == "test@example.com" then %>
     <div class="mt-3">
        <%= link_to "退会",user_path(current_user.id), class: "destroy-user", method: :delete, "data-confirm" => "本当に退会しますか？" %>
     </div>
  <% end %>
<% end %>
<% end %>

