<!DOCTYPE html>
<html>
  <head>
    <title>ShareVege</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/5309a91834.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body class="d-flex flex-column vh-100">
    <header class="shadow-sm bg-success " >
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="<%= about_path %>"><%= image_tag('logo2.png') %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-white" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto justify-content-between align-items-center">
            <% if user_signed_in? %>
            <% if current_user.email != "guest@example.com" %>
              <li class="nav-item ml-3">
                <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-white' %>
              </li>
            <% end %>
            </li>
            <% if current_user.email != "guest@example.com" %>
            <li class="nav-item ml-3">
              <%= link_to 'About', about_path, class: 'nav-link text-white' %>
            </li>
            <% end %>
            <% if current_user.email != "guest@example.com" %>
            <li class="nav-item ml-3">
              <%= link_to '投稿フォーム', new_post_path, class: 'nav-link text-white', data: {turbolinks: "false"} %>
            <li class="nav-item ml-3">
            <% end %>
              <%= link_to '投稿一覧', posts_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item ml-3">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-white' %>
            </li>
            <% else %>
            <li class="nav-item ml-3">
              <%= link_to 'About', about_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item ml-3">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item ml-3">
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-white' %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
        <div>
          <%= alert %>
          <%= notice %>
          <%= yield %>
        </div>      
    <footer class="bg-success text-white pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-5">
            <p>野菜は意外と余っている？</br>
            スーパーいかなくても・・いいかも！</p>
            <%= image_tag('logo2.png') %>
          </div>
          <div class="col-md-5 order-md-2">
            <h6 class="text-white mt-2 mb-3">Link</h6>
            <ul class="p-0 list-unstyled">
              <li>
                <a title="About" class="text-white">会社概要</a>
              </li>
              <li>
                <a title="License informations" class="text-white">プライバシーポリシー</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  <script src="https://cdn.jsdelivr.net/npm/jquery-jpostal-ja@2.14.45/jquery.jpostal.min.js"></script>
  </body>
</html>
